html {
  font-family: 'Times New Roman', Times, serif;
  font-size: 62.5%;
}

p, ul, ol, dl {
  font-size: 1.6rem;
  line-height: 1.8rem;
  margin-bottom: 12px;
}

article {
  max-width: 620px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
}

h1 {
  font-family: Ubuntu, Arial, sans-serif;
  font-size: 40px;
  margin-bottom: 4px;
}

h3 {
  font-family: Ubuntu, Arial, sans-serif;
  font-size: 17px;
  margin-bottom: 4px;
}

h4 {
  font-family: Ubuntu, Arial, sans-serif;
  font-size: 15px;
  margin-bottom: 20px;
}

.byline {
  font-family: Arial, sans-serif;
  font-size:12px;
}

figcaption {
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  margin-top: 2px;
  margin-bottom: 20px;
  text-align: right
}

blockquote {
  border-left-style: solid;
  border-left-width: 4px;
  border-left-color: grey;
  padding: 20px;
  margin-left: 30px;
}

ol {
  list-style-position: inside
}

comment-notes {
  background-color: #ccc;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
}